# Connection to MMAI DB via Python and SQL Alchemy - Code

In [7]:
# Install statements
# If you are properly using the virtual environment, you shouldn't have errors with this import statement.
import pandas as pd 
import sqlalchemy as sa

## ENTER YOUR YORK USERNAME BELOW!!

* This notebook's output is valid since I used my own username. If you run this again without changing below, it will fail!

In [8]:
# Replace this with your username:
york_username = "INSERT_YOUR_USERNAME_PLEASE_LOL"

In [9]:
# Dictionary - params to set up the DB Engine
mmai_db_secret = {
    "database" : "mmai_db",
    "drivername" : "mssql+pyodbc",
    "host" : "mmai2024-ms-sql-server.c1oick8a8ywa.ca-central-1.rds.amazonaws.com",
    "port" : "1433",
    "username": york_username,
    "password": "2024!Schulich",
    "driver": "ODBC Driver 18 for SQL Server",
    "trust_cert" : "yes"
}

In [10]:
# Function to create the DB engine - DO NOT TOUCH
def create_db_engine(db_config):
    connection_url = sa.engine.URL.create(
        drivername = db_config.get("drivername"),
        username = db_config.get("username"),
        password = db_config.get("password"),
        host  = db_config.get("host"),
        port  = db_config.get("port"),
        database  = db_config.get("database"),
        query = {
            "driver" : db_config.get("driver"),
            "TrustServerCertificate": db_config.get("trust_cert")
        }
    )
    return sa.create_engine(connection_url)

In [11]:
# Initialize the MySql Engine using SQL Alchemy
mssql_engine = create_db_engine(mmai_db_secret)

In [12]:
# Read SQL file
with mssql_engine.connect() as connection:
    data = pd.read_sql(sql="SELECT * FROM assignment01.bakery_sales;", con=connection)

In [13]:
# You can now treat data as a Pandas Dataframe.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234005 entries, 0 to 234004
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   sale_date      234005 non-null  object
 1   sale_time      234005 non-null  object
 2   ticket_number  234005 non-null  int64
 3   article        234005 non-null  object
 4   quantity       234005 non-null  int64
 5   unit_price     234000 non-null  float64
 6   sale_datetime  234005 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 12.5+ MB

In [14]:
data.head(10)

,sale_date,sale_time,ticket_number,article,quantity,unit_price,sale_datetime
0,2021-07-17,11:26:00,189122,TRADITIONAL BAGUETTE,2,1.2,2021-07-17 11:26:00
1,2021-07-17,11:26:00,189122,MOISSON,1,2.0,2021-07-17 11:26:00
2,2021-07-17,11:26:00,189123,PAIN AU CHOCOLAT,4,1.2,2021-07-17 11:26:00
3,2021-07-17,11:26:00,189124,TRADITIONAL BAGUETTE,2,1.2,2021-07-17 11:26:00
4,2021-07-17,11:27:00,189125,TRADITIONAL BAGUETTE,1,1.2,2021-07-17 11:27:00
5,2021-07-17,11:27:00,189126,TRADITIONAL BAGUETTE,3,1.2,2021-07-17 11:27:00
6,2021-07-17,11:28:00,189127,TRADITIONAL BAGUETTE,1,1.2,2021-07-17 11:28:00
7,2021-07-17,11:28:00,189127,BANETTINE,1,0.6,2021-07-17 11:28:00
8,2021-07-17,11:29:00,189128,TRADITIONAL BAGUETTE,2,1.2,2021-07-17 11:29:00
9,2021-07-17,11:29:00,189128,CHAUSSON AUX POMMES,1,1.4,2021-07-17 11:29:00